<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <!-- Meta tag -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="keywords"
      content="OnlinesPey | AEPS | Bill Payment | DTH Recharge | Moblie Recharge | OnlinesPey B2B System | OnlinesPey चलाओ व्यापार बढ़ाओ | Express Payout"
    />
    <meta
      name="description"
      content="OnlinesPey is a Professional B2B Software Company Based in India"
    />
    <meta name="copyright" content="OnlinesPey" />

    <!-- Title Tag -->
    <title>
      OnlinesPey | AEPS | Bill Payment | DTH Recharge | Moblie Recharge |
      OnlinesPey B2B System Express Payout
    </title>

    <link rel="stylesheet" href="css/style.css" />
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="images/logo2.png" />

    <!-- Bootstrap Icon cdn -->
    <link rel="stylesheet" href="css/bootstrap-icons.css" />

    <!-- Bootstrap CSS cdn -->
    <link
      href="css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />

    <!-- animinate -->
    <!-- <link rel="stylesheet" href="css/animate.min.css" /> -->

    <!-- slick -->
    <link rel="stylesheet" type="text/css" href="css/slick.css" />
    <link rel="stylesheet" type="text/css" href="css/slick-theme.css" />

    <script src="js/ff5b9029ba.js" crossorigin="anonymous"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-169240197-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-169240197-1');
</script> -->
  </head>
  <body>
    <div class="topheader d-none d-lg-flex">
      <div class="topheader_container">
        <div class="typewriter_div">
          <img src="images/call.webp" alt="Call_Logo" />
          <div class="typewriter">
            <div class="typewriter-text">
              <b>+91 9097379339</b> <b>6204712391</b>
            </div>
          </div>
        </div>
        <div class="topheader_right">
          <ul class="social">
            <!-- https://www.facebook.com>OnlinesPey-108325328297454  target="_blank"-->
            <li>
              <a href="#">
                <div class="bg-facebook icon-s5"></div>
              </a>
            </li>
            <!-- https://www.twitter.com -->
            <li>
              <a href="#">
                <div class="bg-twitter icon-s5"></div>
              </a>
            </li>
            <!-- https://www.youtube.com -->
            <li>
              <a href="#">
                <div class="bg-youtube icon-s5"></div>
              </a>
            </li>
            <!-- https://www.instagram.com>OnlinesPeydotcom/ -->
            <li>
              <a href="#">
                <div class="bg-instagram icon-s5"></div>
              </a>
            </li>
          </ul>
          <a
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            class="topheader_btn"
            >Join Now</a
          >
          <!-- <button id="popup" onclick="div_show()"></button> -->
          <div class="dropdown">
            <a
              class="dropdown-toggle text-white language"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Languages
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Hindi</a></li>
              <li><a class="dropdown-item" href="#">English</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"
          ><img src="images/LOGO22NEW.png" alt="OnlinesPey Logo"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="https://onlinespey.com/"
                ><i class="fas fa-home"></i> Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact"
                >About Us</a
              >
            </li>
            <li class="nav-item dropdown" id="myDropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-bs-toggle="dropdown"
              >
                Our Services
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#"> Banking » </a>
                  <ul class="submenu dropdown-menu">
                    <li><a class="dropdown-item" href="#">Aeps</a></li>
                    <li class="hide">
                      <a class="dropdown-item" href="#">Money Trnasfer </a>
                    </li>
                    <li><a class="dropdown-item" href="#">Micro ATM</a></li>
                    <li><a class="dropdown-item" href="#">Mpos Machine</a></li>
                    <li><a class="dropdown-item" href="#">Upi QR Code</a></li>
                    <li>
                      <a class="dropdown-item" href="#">Account Opening</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a class="dropdown-item" href="#"> Bill Payment » </a>
                  <ul class="submenu dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="#">Mobile Recharge</a>
                    </li>
                    <li><a class="dropdown-item" href="#">DTH Recharge</a></li>
                    <li><a class="dropdown-item" href="#">BBPS</a></li>
                    <li class="hide">
                      <a class="dropdown-item" href="#">Credit Card Bill</a>
                    </li>
                    <li><a class="dropdown-item" href="#">LIC Premium</a></li>
                    <li><a class="dropdown-item" href="#">Water Bill</a></li>
                  </ul>
                </li>
                <li>
                  <a class="dropdown-item" href="#"> Travels Booking » </a>
                  <ul class="submenu dropdown-menu">
                    <li><a class="dropdown-item" href="#">Flight</a></li>
                    <li><a class="dropdown-item" href="#">Bus</a></li>
                    <li class="hide">
                      <a class="dropdown-item" href="#">IRCTC Train Booking</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a class="dropdown-item" href="#"> Insurance » </a>
                  <ul class="submenu dropdown-menu">
                    <li><a class="dropdown-item" href="#">Health</a></li>
                    <li><a class="dropdown-item" href="#">Vehicle</a></li>
                    <li><a class="dropdown-item" href="#">Life</a></li>
                  </ul>
                </li>
                <li>
                  <a class="dropdown-item" href="#"> Others » </a>
                  <ul class="submenu dropdown-menu">
                    <li><a class="dropdown-item" href="#">Pan Card</a></li>
                    <li><a class="dropdown-item" href="#">Ayushman Card</a></li>
                    <li class="hide">
                      <a class="dropdown-item" href="#">Prepaid Card</a>
                    </li>
                    <li><a class="dropdown-item" href="#">Fast Tag</a></li>
                  </ul>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>

            {{!-- <li class="nav-item">
              <a
                class="nav-link nav_login_btn"
                href="/auth"
                ><i class="fas fa-user-tie"></i> Login</a
              >
            </li> --}}
          </ul>
        </div>
      </div>
    </nav>
            <!--                        navbar end                        -->

            <!-- login page satrt -->

            <style>
                /* body {
                  font-family: Arial, sans-serif;
                  background-color: #f4f4f4;
                } */
                
                .login-container {
                  max-width: 400px;
                  margin: 100px auto;
                  background: #fff;
                  padding: 20px;
                  border-radius: 8px;
                  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
                }
                
                .login-tab {
                  overflow: hidden;
                  border-bottom: 1px solid #ccc;
                  margin-bottom: 20px;
                }
                
                .login-tab button {
                  background-color: inherit;
                  float: left;
                  border: none;
                  outline: none;
                  cursor: pointer;
                  padding: 14px 16px;
                  transition: 0.3s;
                  border-bottom: 2px solid transparent;
                }
                
                .login-tab button:hover {
                  border-bottom: 2px solid #007bff;
                }
                
                .login-tab button.active {
                  border-bottom: 2px solid #007bff;
                }
                
                .tabcontent {
                  display: none;
                  padding: 20px;
                  border-top: 1px solid #ccc;
                }
                
                .tabcontent.active {
                  display: block;
                }
                .forgot-password {
              text-align: right;
              margin-top: 10px;
            }
                
                .login-container input[type="text"],
                .login-container input[type="password"],
                .login-container input[type="email"] {
                  width: 100%;
                  padding: 10px;
                  margin: 10px 0;
                  border: 1px solid #ccc;
                  border-radius: 5px;
                  
        
                }
                
                button[type="submit"] {
                  width: 100%;
                  padding: 10px;
                  background-color: #007bff;
                  color: white;
                  border: none;
                  border-radius: 10px;
                  cursor: pointer;
                }
                
                @media (max-width: 768px) {
                  .login-container {
                    width: 90%;
                  }
                }
              </style>
              </head>
              <body>
              
              <div class="login-container">
                <div class="login-tab">
                  <button class="tablinks" onclick="openTab(event, 'Login')" id="defaultOpen">Login</button>
                  <button class="tablinks" onclick="openTab(event, 'Signup')">Signup</button>
                </div>
              
                <!-- Login Tab Content -->
                <div id="Login" class="tabcontent">
                  <h2>Login</h2>
                  <form method="POST" id="auth-login">
                    <input type="text" placeholder="Enter Phone" name="phone" required>
                    <input type="password" placeholder="Enter Password" name="password" required>
                    {{#if errorMessage}}
                      <p style="color: red;">{{errorMessage}}</p>
                    {{/if}}
                    <div class="cf-turnstile" data-theme ="light" data-sitekey="0x4AAAAAAAPtPsUw8nDF4pyX"></div>
                    <button type="submit" >Login</button>
                    <div class="forgot-password">
                        <button onclick="showForgotPassword()" >Forgot Password?</button>
                    </div>
                  
                  </form>
                  
                </div>
              
                <!-- Signup Tab Content -->
                <div id="Signup" class="tabcontent">
                  <h2>Signup</h2>
                  <form action="/signup" method="post" id="login-form">
                    <input type="text" placeholder="Enter Username" name="username" required>
                    <input type="email" placeholder="Enter Email" name="email" required>
                    <input type="password" placeholder="Enter Password" name="password" required>
                    <button type="submit">Signup</button>
                  </form>
                </div>
              </div>
              <div id="forgotPasswordForm" style="display: none;">
                <h2>Forgot Password</h2>
                <form>
                  <input type="email" placeholder="Enter Email" id="forgotEmail" required>
                  <button type="button" onclick="sendResetLink()">Send Reset Link</button>
                </form>
              </div>
            </div>
              
              <script>
                function showForgotPassword() {
              document.getElementById('loginForm').style.display = 'none';
              document.getElementById('signupForm').style.display = 'none';
              document.getElementById('forgotPasswordForm').style.display = 'block';
            }
              function openTab(evt, tabName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                  tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                  tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(tabName).style.display = "block";
                evt.currentTarget.className += " active";
              }
              function sendResetLink() {
              // Here you can add your forgot password logic
              alert('Reset link will be sent to your email.');
            }
              
              document.getElementById("defaultOpen").click();
              </script>
                        <!-- login page end -->

<!--   footer start  -->
<footer class="pt-3 w-100">
    <div class="container">
      <div class="row footer-content">
        <div
          class="col-md-3 col-sm-7 footer_grid footer-logo wow animate__animated animate__fadeInLeft"
          data-wow-delay=".2s"
        >
          <h2>
            <a href="/"
              ><img
                class="img-fluid wow animate__animated animate__bounceInDown"
                data-wow-delay="1.1s"
                src="images/LOGO22NEW.png"
                alt="OnlinesPey Logo"
              />
            </a>
          </h2>
          <p class="footer_short_desc">
            OnlinesPey is a professional B2B software company based in India.
            We at>OnlinesPey provide a wide range of services like AePS,
            Recharge (Mobile, DTH), Bill Payment System, PAN Card, Micro ATM,
            Travels Booking, Insurance etc. with best commission.
          </p>
        </div>
        <div
          class="col-md-3 col-sm-5 footer_grid wow animate__animated animate__fadeInLeft"
          data-wow-delay=".4s"
        >
          <h3 class="my-3">Quick Links</h3>
          <div class="social-grids footer-icon">
            <ul>
              <li class="footer_links">
                <a href="https:/>OnlinesPey.com/"
                  ><i class="fas fa-home"></i> Home</a
                >
              </li>
              <li class="footer_links">
                <a href="https:/>OnlinesPey.com/about"
                  ><i class="fas fa-info-circle"></i> About Us</a
                >
              </li>
              <li class="footer_links">
                <a href="https:/>OnlinesPey.com/services"
                  ><i class="fas fa-cog"></i> Services</a
                >
              </li>
              <li class="footer_links">
                <a href="https:/>OnlinesPey.com/disclaimer"
                  ><i class="fas fa-user"></i>Disclaimer</a
                >
              </li>
              <li class="footer_links">
                <a href="https:/>OnlinesPey.com/privacy-policy"
                  ><i class="fas fa-shield-alt"></i> Privacy Policy</a
                >
              </li>
              <li class="footer_links">
                <a href="https:/>OnlinesPey.com/frequently-asked-questions"
                  ><i class="fas fa-shield-alt"></i> FAQ</a
                >
              </li>
              <li class="footer_links">
                <a href="/contact"
                  ><i class="fas fa-envelope-open"></i> Contact Us</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div
          class="col-md-3 col-sm-7 footer_grid ms-0 wow animate__animated animate__fadeInLeft"
          data-wow-delay=".7s"
        >
          <h3 class="my-3">Our Service</h3>
          <div class="social-grids footer-icon">
            <ul>
              <li class="footer_links">
                <a href="#"><i class="fas fa-fingerprint"></i>AEPS</a>
              </li>
              <!-- <li class="footer_links"><a href="#"><i class="fas fa-money-bill-alt"></i>Money Transfer</a>
                          </li> -->
              <li class="footer_links">
                <a href="#"><i class="fas fa-mobile"></i>Micro ATM </a>
              </li>
              <li class="footer_links">
                <a href="#"><i class="fas fa-mobile"></i>MPOS Machine</a>
              </li>
              <li class="footer_links">
                <a href="#"><i class="fas fa-qrcode"></i>UPI QR Code</a>
              </li>
              <li class="footer_links">
                <a href="#"><i class="fas fa-user-shield"></i>LIC Premium</a>
              </li>
              <li class="footer_links">
                <a href="#"><i class="fas fa-bolt"></i>All Recharge</a>
              </li>
              <li class="footer_links">
                <a href="#"><i class="fab fa-btc"></i>BBPS</a>
              </li>
            </ul>
          </div>
        </div>
        <div
          class="col-md-3 col-lg-2 col-sm-5 footer_grid wow animate__animated animate__fadeInLeft"
          data-wow-delay="1s"
        >
          <h3 class="my-3">Other Services</h3>

          <div class="social-grids footer-icon">
            <ul>
              <li class="footer_links">
                <a href="#"
                  ><i class="fas fa-file-invoice"></i>Bill Payment</a
                >
              </li>
              <!-- <li class="footer_links"><a href="#"><i class="fas fa-credit-card"></i>Credit Card Bill</a></li> -->
              <li class="footer_links">
                <a href="#"><i class="fas fa-shield-alt"></i>Insurance</a>
              </li>
              <li class="footer_links">
                <a href="#"><i class="fas fa-address-card"></i>Pan Card</a>
              </li>
              <li class="footer_links">
                <a href="#"
                  ><i class="fas fa-id-card-alt"></i>Ayushman Card</a
                >
              </li>
              <li class="footer_links">
                <a href="#"><i class="fas fa-shipping-fast"></i>Fast Tag</a>
              </li>
              <li class="footer_links">
                <a href="#"
                  ><i class="fas fa-suitcase-rolling"></i>Travels Booking</a
                >
              </li>
              <li class="footer_links">
                <a href="#"><i class="fab fa-accusoft"></i>Account Opening</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row footer-bottom">
        <hr />
        <div class="col-md-6 col-sm-12 order-2 order-md-1 copyleft">
          <p>
            ©2023>
            <a href="onlinesolutionhub.com"> onlinesolutionhub</a> All Rights
            Reserved
          </p>
        </div>
        <div class="col-md-6 col-sm-12 order-1 order-md-2 copyright">
          <ul class="social">
            <!-- https://www.facebook.com>OnlinesPey-108325328297454 target="_blank" -->
            <li class="mr-3">
              <a href="https://www.facebook.com/onlinespey">
                <div class="bg-facebook icon-s5"></div>
              </a>
            </li>
            <!-- https://www.twitter.com -->
            <li class="mr-3">
              <a href="#">
                <div class="bg-twitter icon-s5"></div>
              </a>
            </li>
            <!-- https://www.youtube.com -->
            <li class="mr-3">
              <a href="#">
                <div class="bg-youtube icon-s5"></div>
              </a>
            </li>
            <!-- https://www.instagram.com>OnlinesPeydotcom/ -->
            <li class="mr-3">
              <a href="#">
                <div class="bg-instagram icon-s5"></div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
<!--   footer end  -->