<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <!-- Meta tag -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="keywords"
      content="OnlinesPey | AEPS | Bill Payment | DTH Recharge | Moblie Recharge | OnlinesPey B2B System | OnlinesPey चलाओ व्यापार बढ़ाओ | Express Payout"
    />
    <meta name="keywords" content="Onlinespey">
    <meta name="keywords" content="Onlinespay">
    <meta name="keywords" content="recharge">
    <meta name="keywords" content="aeps">
    <meta name="keywords" content="aadhar pay">

    <meta name="description" content="best Aeps service">
    <meta >
    <meta name="author" content="OnlinesPey">
    <meta
      name="description"
      content="OnlinesPey is a Professional B2B Software Company Based in India"
    />
    <meta name="copyright" content="OnlinesPey" />
    <meta property="og:site_name" content="OnlinesPey">

    <!-- Title Tag -->
    <title>
      OnlinesPey | AEPS | Bill Payment | DTH Recharge | Moblie Recharge |
      OnlinesPey B2B System Express Payout
    </title>

    <link rel="stylesheet" href="css/style.css" />
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="images/logo2.png" />

    <!-- Bootstrap Icon cdn -->
    <link rel="stylesheet" href="css/bootstrap-icons.css" />

    <!-- Bootstrap CSS cdn -->
    <link
      href="css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />

    <!-- animinate -->
    <!-- <link rel="stylesheet" href="css/animate.min.css" /> -->

    <!-- slick -->
    <link rel="stylesheet" type="text/css" href="css/slick.css" />
    <link rel="stylesheet" type="text/css" href="css/slick-theme.css" />

    <script src="js/ff5b9029ba.js" crossorigin="anonymous"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-169240197-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-169240197-1');
</script> -->
  </head>
  <body>
    <div class="topheader d-none d-lg-flex">
      <div class="topheader_container">
        <div class="typewriter_div">
          <img src="images/call.webp" alt="Call_Logo" />
          <div class="typewriter">
            <div class="typewriter-text">
              <b>+91 9097379339</b> <b>6204712391</b>
            </div>
          </div>
        </div>
        <div class="topheader_right">
          <ul class="social">
            <!-- https://www.facebook.com>OnlinesPey-108325328297454  target="_blank"-->
            <li>
              <a href="#">
                <div class="bg-facebook icon-s5"></div>
              </a>
            </li>
            <!-- https://www.twitter.com -->
            <li>
              <a href="#">
                <div class="bg-twitter icon-s5"></div>
              </a>
            </li>
            <!-- https://www.youtube.com -->
            <li>
              <a href="#">
                <div class="bg-youtube icon-s5"></div>
              </a>
            </li>
            <!-- https://www.instagram.com>OnlinesPeydotcom/ -->
            <li>
              <a href="#">
                <div class="bg-instagram icon-s5"></div>
              </a>
            </li>
          </ul>
          <a
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            class="topheader_btn"
            >Join Now</a
          >
          <!-- <button id="popup" onclick="div_show()"></button> -->
          <div class="dropdown">
            <a
              class="dropdown-toggle text-white language"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Languages
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Hindi</a></li>
              <li><a class="dropdown-item" href="#">English</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

	

    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"
          ><img src="images/LOGO22NEW.png" alt="OnlinesPey Logo"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/"
                ><i class="fas fa-home"></i> Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact"
                >About Us</a
              >
            </li>
            <li class="nav-item dropdown" id="myDropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-bs-toggle="dropdown"
              >
                Our Services
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#"> Banking » </a>
                  <ul class="submenu dropdown-menu">
                    <li><a class="dropdown-item" href="#">Aeps</a></li>
                    <li class="hide">
                      <a class="dropdown-item" href="#">Money Trnasfer </a>
                    </li>
                    <li><a class="dropdown-item" href="#">Micro ATM</a></li>
                    <li><a class="dropdown-item" href="#">Mpos Machine</a></li>
                    <li><a class="dropdown-item" href="#">Upi QR Code</a></li>
                    <li>
                      <a class="dropdown-item" href="#">Account Opening</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a class="dropdown-item" href="#"> Bill Payment » </a>
                  <ul class="submenu dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="#">Mobile Recharge</a>
                    </li>
                    <li><a class="dropdown-item" href="#">DTH Recharge</a></li>
                    <li><a class="dropdown-item" href="#">BBPS</a></li>
                    <li class="hide">
                      <a class="dropdown-item" href="#">Credit Card Bill</a>
                    </li>
                    <li><a class="dropdown-item" href="#">LIC Premium</a></li>
                    <li><a class="dropdown-item" href="#">Water Bill</a></li>
                  </ul>
                </li>
                <li>
                  <a class="dropdown-item" href="#"> Travels Booking » </a>
                  <ul class="submenu dropdown-menu">
                    <li><a class="dropdown-item" href="#">Flight</a></li>
                    <li><a class="dropdown-item" href="#">Bus</a></li>
                    <li class="hide">
                      <a class="dropdown-item" href="#">IRCTC Train Booking</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a class="dropdown-item" href="#"> Insurance » </a>
                  <ul class="submenu dropdown-menu">
                    <li><a class="dropdown-item" href="#">Health</a></li>
                    <li><a class="dropdown-item" href="#">Vehicle</a></li>
                    <li><a class="dropdown-item" href="#">Life</a></li>
                  </ul>
                </li>
                <li>
                  <a class="dropdown-item" href="#"> Others » </a>
                  <ul class="submenu dropdown-menu">
                    <li><a class="dropdown-item" href="#">Pan Card</a></li>
                    <li><a class="dropdown-item" href="#">Ayushman Card</a></li>
                    <li class="hide">
                      <a class="dropdown-item" href="#">Prepaid Card</a>
                    </li>
                    <li><a class="dropdown-item" href="#">Fast Tag</a></li>
                  </ul>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link nav_login_btn"
                href="/auth"
                ><i class="fas fa-user-tie"></i> Login</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div
      id="carouselExampleCaptions"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
      data-bs-interval="4000"
      data-bs-pause="false"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="images/HEADER1.png" class="d-block w-100" alt="..." />
          <div class="carousel-caption">
            <div class="banner_content">
              <div class="row">
                <div class="col-7 col-md-7 col-lg-6">
                  <!-- <div class="banner_text">
                    <h2
                      class="animate__animated animate__fadeInLeft banner_text_heading"
                    >
                      Welcome to OnlinesPey Fast and Reliable Aeps Service.
                    </h2>
                    <ul class="banner_text_list">
                      <li
                        class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading"
                      >
                        Balance Inquiry
                      </li>
                      <li
                        class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading"
                      >
                        Cash Withdrawal
                      </li>
                      <li
                        class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading"
                      >
                        Mini Statement
                      </li>
                      <li
                        class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading"
                      >
                        Best Commission
                      </li>
                      <li
                        class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading"
                      >
                        24 Hour Settlement
                      </li>
                    </ul>
                  </div> -->
                </div>
                <div class="col-5 col-md-5 col-lg-6">
                  <div class="banner_img2">
                    <!-- <picture>
                      <source
                        srcset="images/morphot.webp"
                        type="image/png"
                        class="img-fluid animate__animated animate__fadeInRight"
                        alt="banner-4th-image"
                      />
                      <img
                        srcset="images/morphot.webp"
                        type="image/png"
                        class="img-fluid animate__animated animate__fadeInRight"
                        alt="banner-4th-image"
                      /> 
                    </picture> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="images/HEADER2.png" class="d-block w-100" alt="..." />
          <div class="carousel-caption">
            <div class="banner_content">
              <div class="row">
                <div class="col-7 col-md-7 col-lg-6">
                   <!--<div class="banner_text">
                    <h2
                      class="animate__animated animate__fadeInLeft banner_text_heading"
                    >
                      All services are provided to you at OnlinesPey with best
                      commission and support.
                    </h2>
                    <ul class="banner_text_list">
                      <li
                        class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading"
                      >
                        You can grow your business joining us.
                      </li>
                      <li
                        class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading"
                      >
                        Retailer
                      </li>
                      <li
                        class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading"
                      >
                        Distributor
                      </li>
                      <li
                        class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading"
                      >
                        Master Distributor
                      </li>
                    </ul>
                  </div>-->
                </div> 
                <div class="col-5 col-md-5 col-lg-6">
                  <div class="banner_img2">
                    <picture>
                      <source
                        srcset="images/Aeps1.png"
                        type="image/png"
                        class="img-fluid animate__animated animate__fadeInRight"
                        alt="banner-4th-image"
                      />
                      <img
                        srcset="images/Aeps1.png"
                        type="image/png"
                        class="img-fluid animate__animated animate__fadeInRight"
                        alt="banner-4th-image"
                      />
                    </picture>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="images/HEADER3.png" class="d-block w-100" alt="..." />
          <div class="carousel-caption">
            <div class="banner_content">
              <div class="row">
                <div class="col-7 col-md-7 col-lg-6">
                  <!-- <div class="banner_text">
                    <h2
                      class="animate__animated animate__fadeInLeft banner_text_heading"
                    >
                      Make your shop the ATM of your area with OnlinesPey Micro
                      ATM
                    </h2>
                    <ul class="banner_text_list">
                      <li
                        class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading"
                      >
                        All Debit and Credit card Accepted
                      </li>
                      <li
                        class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading"
                      >
                        Balance Inquiry
                      </li>
                      <li
                        class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading"
                      >
                        Cash Withdrawal
                      </li>
                      <li
                        class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading"
                      >
                        Mini Statement
                      </li>
                    </ul>
                  </div> -->
                </div>
                <div class="col-5 col-md-5 col-lg-6">
                  <div class="banner_img2">
                    <!-- <picture>
                      <source
                        srcset="images/Aeps1.png"
                        type="image/png"
                        class="img-fluid animate__animated animate__fadeInRight"
                        alt="banner-4th-image"
                      />
                      <img
                        srcset="images/Aeps1.png"
                        type="image/png"
                        class="img-fluid animate__animated animate__fadeInRight"
                        alt="banner-4th-image"
                      /> -->
                    </picture>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev d-none d-md-block"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next d-none d-md-block"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <section class="home_section max_width">
      <!-- _____________________________Home Section Start_________________________________ -->

      <!-- _________________________________________________________About Us_______________________________________________________ -->

      <section class="home_about_us">
        <div class="sub-heading">
          <h2>ABOUT US</h2>
        </div>
        <div class="row home_about_row">
          <div class="col-md-6 home_about_column1">
            <div class="home_about_img_div">
              <img src="images/aboutimg1.webp" alt="about image" class="" />
            </div>
          </div>
          <div class="col-md-6 home_about_column2">
            <div class="home_about_text">
              <p>
                OnlinesPey is the online platform of Sunrise Infotech Services,
                a leading mobile payments and commerce platform in India. It
                started with online mobile recharge and bill payment and is
                today an online marketplace. In a very short span of time, we
                have expanded to more and more registered users. We strive to
                maintain an open culture where everyone is a contributor and
                feels comfortable sharing their ideas. Under this
                platform,>OnlinesPey offers its customers AEPS, Mobile &amp; DTH
                recharge, Micro ATM, PAN Card, Recharge, Ayushman Card, Air
                &amp; Bus Reservation, Bill Payment, Digital Many more services
                like Wallet are included.
              </p>
              <a class="btn btn-primary" href="https:/>OnlinesPey.com/about"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </section>

      <!-- _________________________________________________Our Services____________________________________________________________ -->

      <section id="tw-service" class="tw-service tw-services-item">
        <div class="sub-heading">
          <h2>OUR SERVICES</h2>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div
                class="tw-service-box text-center wow animate__animated animate__zoomIn"
                data-wow-duration="1s"
                data-wow-delay=".2s"
                style="
                  visibility: visible;
                  animation-duration: 1s;
                  animation-delay: 0.2s;
                  animation-name: zoomIn;
                "
              >
                <div class="service-icon">
                  <img
                    src="images/Aeps1.png"
                    alt="search engine"
                    class="img-fluid"
                  />
                </div>

                <div class="service-content">
                  <h3>AEPS</h3>
                  <p>
                    Through AEPS you can make cash withdrawals to your customers
                    and for which you get commission from>OnlinesPey.
                  </p>
                  <br />
                  <!--<a href="hire-php-developers"><button type="button" class="btn btn-primary">Read
                                        More</button></a>-->
                </div>
              </div>
              <!-- Service box end -->
            </div>
            <!-- Col End -->

            <div class="col-md-4 hide">
              <div
                class="tw-service-box text-center wow animate__animated animate__zoomIn"
                data-wow-duration="1s"
                data-wow-delay=".4s"
                style="
                  visibility: visible;
                  animation-duration: 1s;
                  animation-delay: 0.4s;
                  animation-name: zoomIn;
                "
              >
                <div class="service-icon">
                  <img
                    src="images/money_transfer.webp"
                    alt="search engine"
                    class="img-fluid"
                  />
                </div>
                <!-- Service icon end -->
                <div class="service-content">
                  <h3>MONEY TRANSFER</h3>
                  <p>
                    Through this facility you can transfer the money of your
                    customers from one account to another.
                  </p>
                  <br />
                  <!--<a href="laravel-development"><button type="button" class="btn btn-primary">Read
                                        More</button></a> -->
                </div>
                <!-- Service content end -->
              </div>
              <!-- Service box End -->
            </div>
            <!-- Col End -->
            <div class="col-md-4">
              <div
                class="tw-service-box text-center wow animate__animated animate__zoomIn"
                data-wow-duration="1s"
                data-wow-delay=".6s"
                style="
                  visibility: visible;
                  animation-duration: 1s;
                  animation-delay: 0.6s;
                  animation-name: zoomIn;
                "
              >
                <div class="service-icon">
                  <img
                    src="images/micro-mini-atm.jpg"
                    alt="search engine"
                    class="img-fluid"
                  />
                </div>
                <!-- Service Icon End -->
                <div class="service-content">
                  <h3>MICRO ATM</h3>
                  <p>
                    With>OnlinesPey Micro ATM, you can give your customers the
                    convenience of cash by using debit cards and credit cards.
                  </p>
                  <br />
                  <!--<a href="wordpress-e-commerce-development-services"><button type="button"
                                        class="btn btn-primary">Read More</button></a>-->
                </div>
                <!-- Service content end -->
              </div>
              <!-- Service box End -->
            </div>

            <div class="col-md-4">
              <div
                class="tw-service-box text-center wow animate__animated animate__zoomIn"
                data-wow-duration="1s"
                data-wow-delay=".2s"
                style="
                  visibility: visible;
                  animation-duration: 1s;
                  animation-delay: 0.2s;
                  animation-name: zoomIn;
                "
              >
                <div class="service-icon">
                  <img
                    src="images/ayushman120.webp"
                    alt="search engine"
                    class="img-fluid"
                  />
                </div>
                <!-- Service icon end -->
                <div class="service-content">
                  <h3>AYUSHMAN CARD</h3>
                  <p>
                    Through this facility, you can make and give Ayushman card
                    of your customers.
                  </p>
                  <br />
                  <!--<a href="angular-js"><button type="button" class="btn btn-primary">Read
                                        More</button></a>-->
                </div>
                <!-- Service content end -->
              </div>
              <!-- Service Box end -->
            </div>

            <!-- Col end -->
          </div>
          <!-- Row end -->

          <div class="row">
            <div class="col-md-4">
              <div
                class="tw-service-box text-center wow animate__animated animate__zoomIn"
                data-wow-duration="1s"
                data-wow-delay=".2s"
                style="
                  visibility: visible;
                  animation-duration: 1s;
                  animation-delay: 0.2s;
                  animation-name: zoomIn;
                "
              >
                <div class="service-icon">
                  <img
                    src="images/recharge.webp"
                    alt="search engine"
                    class="img-fluid"
                  />
                </div>
                <!-- Service icon end -->
                <div class="service-content">
                  <h3>MOBILE RECHARGE</h3>
                  <p>
                    Here you can get better commission by recharging all
                    company's mobile and DTH.
                  </p>
                  <br />
                  <!--<a href="angular-js"><button type="button" class="btn btn-primary">Read
                                        More</button></a>-->
                </div>
                <!-- Service content end -->
              </div>
              <!-- Service Box end -->
            </div>
            <!-- Col end -->
            <div class="col-md-4">
              <div
                class="tw-service-box text-center wow animate__animated animate__zoomIn"
                data-wow-duration="1s"
                data-wow-delay=".4s"
                style="
                  visibility: visible;
                  animation-duration: 1s;
                  animation-delay: 0.4s;
                  animation-name: zoomIn;
                "
              >
                <div class="service-icon">
                  <img
                    src="images/bbps.webp"
                    alt="search engine"
                    class="img-fluid"
                  />
                </div>
                <!-- Service icon end -->
                <div class="service-content">
                  <h3>BBPS</h3>
                  <p>
                    OnlinesPey provides electricity bill payment facility to its
                    customers with better commission.
                  </p>
                  <br />
                  <!--<a href="nodejs"><button type="button" class="btn btn-primary">Read More</button></a>-->
                </div>
                <!-- Service content end -->
              </div>
              <!-- Service box end -->
            </div>
            <!-- Row End -->
            <div class="col-md-4">
              <div
                class="tw-service-box text-center wow animate__animated animate__zoomIn"
                data-wow-duration="1s"
                data-wow-delay=".6s"
                style="
                  visibility: visible;
                  animation-duration: 1s;
                  animation-delay: 0.6s;
                  animation-name: zoomIn;
                "
              >
                <div class="service-icon">
                  <img
                    src="images/pan_card.webp"
                    alt="search engine"
                    class="img-fluid"
                  />
                </div>
                <!-- Service Icon end-->
                <div class="service-content">
                  <h3>PAN CARD</h3>
                  <p>
                    Through this facility you can apply for PAN card of your
                    customer.
                  </p>
                  <br />
                  <!--<a href="magento-development"><button type="button" class="btn btn-primary">Read
                                        More</button></a>-->
                </div>
                <!-- Service Content end -->
              </div>
              <!-- Service box end-->
            </div>
            <!-- Col end -->
          </div>

          <div class="row">
            <!-- Col end -->
            <div class="col-md-4">
              <div
                class="tw-service-box text-center wow animate__animated animate__zoomIn"
                data-wow-duration="1s"
                data-wow-delay=".4s"
                style="
                  visibility: visible;
                  animation-duration: 1s;
                  animation-delay: 0.4s;
                  animation-name: zoomIn;
                "
              >
                <div class="service-icon">
                  <img
                    src="images/travels.webp"
                    alt="search engine"
                    class="img-fluid"
                  />
                </div>
                <!-- Service icon end -->
                <div class="service-content">
                  <h3>TRAVELS BOOKING</h3>
                  <p>
                    Travel Booking facility you get commission by providing
                    travel booking facility to your customers.
                  </p>
                  <br />
                  <!--<a href="nodejs"><button type="button" class="btn btn-primary">Read More</button></a>-->
                </div>
                <!-- Service content end -->
              </div>
              <!-- Service box eaaaaaaaaaaaaaand -->
            </div>
            <!-- Row End -->

            <!-- Col end -->

            <div class="col-md-4">
              <div
                class="tw-service-box text-center wow animate__animated animate__zoomIn"
                data-wow-duration="1s"
                data-wow-delay=".6s"
                style="
                  visibility: visible;
                  animation-duration: 1s;
                  animation-delay: 0.6s;
                  animation-name: zoomIn;
                "
              >
                <div class="service-icon">
                  <img
                    src="images/insurance160.webp"
                    alt="search engine"
                    class="img-fluid"
                  />
                </div>
                <!-- Service Icon end-->
                <div class="service-content">
                  <h3>INSURANCE</h3>
                  <p>
                    Through insurance facility, you provide health, vehicle,
                    life insurance facility to your customer.
                  </p>
                  <br />
                  <!--<a href="magento-development"><button type="button" class="btn btn-primary">Read
                                        More</button></a>-->
                </div>
                <!-- Service Content end -->
              </div>
              <!-- Service box end-->
            </div>

            <div class="col-md-4">
              <div
                class="tw-service-box text-center wow animate__animated animate__zoomIn"
                data-wow-duration="1s"
                data-wow-delay=".2s"
                style="
                  visibility: visible;
                  animation-duration: 1s;
                  animation-delay: 0.2s;
                  animation-name: zoomIn;
                "
              >
                <div class="service-icon">
                  <img
                    src="images/Aeps1.png"
                    alt="search engine"
                    class="img-fluid"
                  />
                </div>

                <div class="service-content">
                  <h3>AADHAAR PAY</h3>
                  <p>
                    Through AADHAAR PAY you can make cash withdrawals to your
                    customers and for which you get commission from>OnlinesPey.
                  </p>
                  <br />
                  <!--<a href="hire-php-developers"><button type="button" class="btn btn-primary">Read
                                        More</button></a>-->
                </div>
              </div>
              <!-- Service box end -->
            </div>
          </div>
          <!-- Row End -->
        </div>

        <!-- container -->
      </section>

      <!-- _________________________________________________Our Partners____________________________________________________________ -->
      <section class="our_partners">
        <div class="sub-heading">
          <h2>OUR PARTNERS</h2>
        </div>
        <div class="container">
          <section class="customer-logos slider">
            <div class="slide">
              <img class="img-fluid" src="images/icici.png" />
            </div>
            <div class="slide">
              <img class="img-fluid" src="images/vi.png" />
            </div>
            <div class="slide">
              <img class="img-fluid" src="images/jio.png" />
            </div>
            <div class="slide">
              <img class="img-fluid" src="images/axisbank.png" />
            </div>
            <div class="slide">
              <img class="img-fluid" src="images/paytm.png" />
            </div>
            <div class="slide">
              <img class="img-fluid" src="images/bsnl.png" />
            </div>
            <div class="slide">
              <img class="img-fluid" src="images/airtel.png" />
            </div>
            <div class="slide">
              <img class="img-fluid" src="images/bbps.png" />
            </div>
            <div class="slide">
              <img class="img-fluid" src="images/yesbank.png" />
            </div>
            <div class="slide">
              <img class="img-fluid" src="images/lic.png" />
            </div>
            <div class="slide">
              <img class="img-fluid" src="images/ncpi.png" />
            </div>
            <div class="slide">
              <img class="img-fluid" src="images/uti.png" />
            </div>
          </section>
        </div>
      </section>
      <!-- _________________________________________________Why choose us____________________________________________________________ -->
      <div
        data-scrollmagic-pin-spacer=""
        class="scrollmagic-pin-spacer"
        style="
          inset: auto;
          margin: 0px;
          display: block;
          position: relative;
          box-sizing: content-box;
          min-height: 619px;
          height: auto;
          padding-top: 0px;
          padding-bottom: 0px;
        "
      >
        <section
          class="panel"
          style="
            position: relative;
            margin: auto;
            inset: 0px auto auto 0px;
            box-sizing: border-box;
            width: 100%;
          "
        >
          <div class="wc_us">
            <div class="container-xl">
              <div class="row">
                <div class="col-md-10 wc_img_col">
                  <div class="img_div">
                    <img src="images/images.webp" alt="Why choose Us Image" />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="wc_content_card">
                    <h2>WHY CHOOSE US</h2>
                    <p>
                      OnlinesPey with the training of its skilled team to its
                      customers, it provides a wide range of services like
                      Recharge, Aeps, Micro ATM, Air &amp; Bus Reservation, Bill
                      Payment, Digital Wallet etc. on a single portal and also
                      makes every effort that Our every single customer is
                      satisfied with us, they use our digital service to grow
                      their business and get maximum income.For which we try to
                      innovate in the portal.
                    </p>
                  </div>
                </div>
              </div>

              <div class="row wc_card_main_row">
                <div class="col-12 wc_card_main_col">
                  <div class="row">
                    <div class="col-4 col-md-4 wc_card_col">
                      <div class="wc_card">
                        <!-- <img src="public/public_f/img/wc/Best Commission & Extra Earn.png" alt=""> -->
                        <div class="wc_img_div">
                          <div
                            class="bg-Best_Commission_Extra_Earn icon-s33 wow animate__animated animate__jackInTheBox animate__slow"
                          ></div>
                        </div>
                        <h3>
                          Highest Commission <br />
                          &amp; Highest Earning
                        </h3>
                      </div>
                    </div>
                    <div class="col-4 col-md-4 wc_card_col">
                      <div class="wc_card">
                        <!-- <img src="public/public_f/img/wc/24x7 Settlement.png" alt=""> -->
                        <div class="wc_img_div">
                          <div
                            class="bg-24x7_Settlement icon-s33 wow animate__animated animate__jackInTheBox animate__slow"
                          ></div>
                        </div>
                        <h3>24x7 Settlement</h3>
                      </div>
                    </div>
                    <div class="col-4 col-md-4 wc_card_col">
                      <div class="wc_card">
                         <!-- <img src="public/public_f/img/wc/Safe & Sequre Portal.png" alt="">  -->
                        <div class="wc_img_div">
                          <div
                            class="bg-Safe_Sequre_Portal icon-s33 wow animate__animated animate__jackInTheBox animate__slow"
                          ></div>
                        </div>
                        <h3>
                          Safe &amp; Sequre <br />
                          Portal
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4 col-md-4 wc_card_col">
                      <div class="wc_card">
                        <!-- <img src="public/public_f/img/wc/Trustworthy.png" alt=""> -->
                        <div class="wc_img_div">
                          <div
                            class="bg-Trustworthy icon-s33 wow animate__animated animate__jackInTheBox animate__slow"
                          ></div>
                        </div>
                        <h3>Trustworthy</h3>
                      </div>
                    </div>
                    <div class="col-4 col-md-4 wc_card_col">
                      <div class="wc_card">
                        <!-- <img src="public/public_f/img/wc/Easy to Work.png" alt=""> -->
                        <div class="wc_img_div">
                          <div
                            class="bg-Easy_to_Work icon-s33 wow animate__animated animate__jackInTheBox animate__slow"
                          ></div>
                        </div>
                        <h3>Easy to Work</h3>
                      </div>
                    </div>
                    <div class="col-4 col-md-4 wc_card_col">
                      <div class="wc_card">
                        <div class="wc_img_div">
                          <!-- <img src="public/public_f/img/wc/Fast Support.png" alt=""> -->
                          <div
                            class="bg-Fast_Support icon-s33 wow animate__animated animate__jackInTheBox animate__slow"
                          ></div>
                        </div>
                        <h3>Fast Support</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- _________________________________________________Gallary____________________________________________________________ -->

      
    <footer class="pt-3 w-100">
      <div class="container">
        <div class="row footer-content">
          <div
            class="col-md-3 col-sm-7 footer_grid footer-logo wow animate__animated animate__fadeInLeft"
            data-wow-delay=".2s"
          >
            <h2>
              <a href="https:/>OnlinesPey.com/"
                ><img
                  class="img-fluid wow animate__animated animate__bounceInDown"
                  data-wow-delay="1.1s"
                  src="images/LOGO22NEW.png"
                  alt="OnlinesPey Logo"
                />
              </a>
            </h2>
            <p class="footer_short_desc">
              OnlinesPey is a professional B2B software company based in India.
              We at>OnlinesPey provide a wide range of services like AePS,
              Recharge (Mobile, DTH), Bill Payment System, PAN Card, Micro ATM,
              Travels Booking, Insurance etc. with best commission.
            </p>
          </div>
          <div
            class="col-md-3 col-sm-5 footer_grid wow animate__animated animate__fadeInLeft"
            data-wow-delay=".4s"
          >
            <h3 class="my-3">Quick Links</h3>
            <div class="social-grids footer-icon">
              <ul>
                <li class="footer_links">
                  <a href="https:/>OnlinesPey.com/"
                    ><i class="fas fa-home"></i> Home</a
                  >
                </li>
                <li class="footer_links">
                  <a href="/contact"
                    ><i class="fas fa-info-circle"></i> About Us</a
                  >
                </li>
                <li class="footer_links">
                  <a href="https:/>OnlinesPey.com/services"
                    ><i class="fas fa-cog"></i> Services</a
                  >
                </li>
                <li class="footer_links">
                  <a href="https:/>OnlinesPey.com/disclaimer"
                    ><i class="fas fa-user"></i>Disclaimer</a
                  >
                </li>
                <li class="footer_links">
                  <a href="https:/>OnlinesPey.com/privacy-policy"
                    ><i class="fas fa-shield-alt"></i> Privacy Policy</a
                  >
                </li>
                <li class="footer_links">
                  <a href="https:/>OnlinesPey.com/frequently-asked-questions"
                    ><i class="fas fa-shield-alt"></i> FAQ</a
                  >
                </li>
                <li class="footer_links">
                  <a href="conatact.html"
                    ><i class="fas fa-envelope-open"></i> Contact Us</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div
            class="col-md-3 col-sm-7 footer_grid ms-0 wow animate__animated animate__fadeInLeft"
            data-wow-delay=".7s"
          >
            <h3 class="my-3">Our Service</h3>
            <div class="social-grids footer-icon">
              <ul>
                <li class="footer_links">
                  <a href="#"><i class="fas fa-fingerprint"></i>AEPS</a>
                </li>
                <!-- <li class="footer_links"><a href="#"><i class="fas fa-money-bill-alt"></i>Money Transfer</a>
                            </li> -->
                <li class="footer_links">
                  <a href="#"><i class="fas fa-mobile"></i>Micro ATM </a>
                </li>
                <li class="footer_links">
                  <a href="#"><i class="fas fa-mobile"></i>MPOS Machine</a>
                </li>
                <li class="footer_links">
                  <a href="#"><i class="fas fa-qrcode"></i>UPI QR Code</a>
                </li>
                <li class="footer_links">
                  <a href="#"><i class="fas fa-user-shield"></i>LIC Premium</a>
                </li>
                <li class="footer_links">
                  <a href="#"><i class="fas fa-bolt"></i>All Recharge</a>
                </li>
                <li class="footer_links">
                  <a href="#"><i class="fab fa-btc"></i>BBPS</a>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="col-md-3 col-lg-2 col-sm-5 footer_grid wow animate__animated animate__fadeInLeft"
            data-wow-delay="1s"
          >
            <h3 class="my-3">Other Services</h3>

            <div class="social-grids footer-icon">
              <ul>
                <li class="footer_links">
                  <a href="#"
                    ><i class="fas fa-file-invoice"></i>Bill Payment</a
                  >
                </li>
                <!-- <li class="footer_links"><a href="#"><i class="fas fa-credit-card"></i>Credit Card Bill</a></li> -->
                <li class="footer_links">
                  <a href="#"><i class="fas fa-shield-alt"></i>Insurance</a>
                </li>
                <li class="footer_links">
                  <a href="#"><i class="fas fa-address-card"></i>Pan Card</a>
                </li>
                <li class="footer_links">
                  <a href="#"
                    ><i class="fas fa-id-card-alt"></i>Ayushman Card</a
                  >
                </li>
                <li class="footer_links">
                  <a href="#"><i class="fas fa-shipping-fast"></i>Fast Tag</a>
                </li>
                <li class="footer_links">
                  <a href="#"
                    ><i class="fas fa-suitcase-rolling"></i>Travels Booking</a
                  >
                </li>
                <li class="footer_links">
                  <a href="#"><i class="fab fa-accusoft"></i>Account Opening</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row footer-bottom">
          <hr />
          <div class="col-md-6 col-sm-12 order-2 order-md-1 copyleft">
            <p>
              ©2023>
              <a href="onlinesolutionhub.com"> onlinesolutionhub</a> All Rights
              Reserved
            </p>
          </div>
          <div class="col-md-6 col-sm-12 order-1 order-md-2 copyright">
            <ul class="social">
              <!-- https://www.facebook.com>OnlinesPey-108325328297454 target="_blank" -->
              <li class="mr-3">
                <a href="https://www.facebook.com/onlinespey">
                  <div class="bg-facebook icon-s5"></div>
                </a>
              </li>
              <!-- https://www.twitter.com -->
              <li class="mr-3">
                <a href="#">
                  <div class="bg-twitter icon-s5"></div>
                </a>
              </li>
              <!-- https://www.youtube.com -->
              <li class="mr-3">
                <a href="#">
                  <div class="bg-youtube icon-s5"></div>
                </a>
              </li>
              <!-- https://www.instagram.com>OnlinesPeydotcom/ -->
              <li class="mr-3">
                <a href="#">
                  <div class="bg-instagram icon-s5"></div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- _______________________________________contact form___________________________________ -->

   
    <script src="js/wow.min.js"></script>
    <script>
      new WOW().init();
    </script>

    <script src="js/jquery.min.js"></script>

    <script src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/ScrollMagic.js"></script>

    <script type="text/javascript">
      function getCity(val) {
        $("#city").html("");
        //debugger;
        $.ajax({
          type: "POST",
          url: "https:/>OnlinesPey.com/landing/get_city",
          data: "state_id=" + val.value,
          beforeSend: function () {
            //$("#city-list").addClass("loader");
          },
          success: function (data) {
            var option_result = "<option value=''>please select city</option>";
            var city = JSON.parse(data);
            for (var i = 0; i < city.length; i++) {
              option_result +=
                "<option value='" +
                city[i].id +
                "'>" +
                city[i].name +
                "</option>";
            }
            $("#city").html(option_result);
            //$("#city-list").removeClass("loader");
          },
        });
      }
    </script>

    <script type="text/javascript">
      $(document).ready(function () {
        $("#send").click(function () {
          //debugger;

          if ($("#name").val() == "") {
            alert("Please enter your Name in the form");
            $("#name").focus();
            return false;
          }
          if ($("#email").val() == "") {
            alert("Please enter your Email in the form");
            $("#email").focus();
            return false;
          }
          if ($("#phone").val() == "") {
            alert("Please enter your Phone in the form");
            $("#phone").focus();
            return false;
          }
          if ($("#pin").val() == "") {
            alert("Please enter your PIN Code in the form");
            $("#pin").focus();
            return false;
          }

          if ($("#state").val() == "") {
            alert("Please Selecte your State in the form");
            $("#state").focus();
            return false;
          }
          if ($("#city").val() == "") {
            alert("Please Selecte your City in the form");
            $("#city").focus();
            return false;
          }
          if ($("#message").val() == "") {
            alert("Please enter your Messege in the form");
            $("#message").focus();
            return false;
          }

          dataString = $("#join_now").serialize();

          $.ajax({
            type: "POST",
            url: "landing/join_now",
            data: dataString,
            success: function (data) {
              var nobject = JSON.parse(data);
              if (nobject.status == "s") {
                $("#result").html(nobject.message);
                $("#result").removeClass("alert alert-danger");
                $("#result").addClass("alert alert-success");
              }

              if (nobject.status == "e") {
                $("#result").html("");
                $("#result").html(nobject.message);
                $("#result").removeClass("alert alert-success");
                $("#result").addClass("alert alert-danger");
              }
            },
          });
          return false;
        });

        $(".gallary_img_row").slick({
          slidesToShow: 3,
          slidesToScroll: 1,

          arrows: false,
          autoplay: true,
          autoplaySpeed: 2200,
          responsive: [
            {
              breakpoint: 990,
              settings: {
                arrows: false,
                slidesToShow: 3,
              },
            },
            {
              breakpoint: 620,
              settings: {
                slidesToShow: 2,
              },
            },
          ],
        });
      });
    </script>

    <script>
      $(document).ready(function () {
        $(".customer-logos").slick({
          slidesToShow: 5,
          cssEase: "linear",
          autoplay: true,
          speed: 3000,
          autoplaySpeed: 0,
          arrows: false,
          dots: false,
          pauseOnHover: false,
          responsive: [
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 4,
              },
            },
            {
              breakpoint: 520,
              settings: {
                slidesToShow: 3,
              },
            },
          ],
        });
      });
    </script>

    <script>
      $(function () {
        // wait for document ready
        // init
        var controller = new ScrollMagic.Controller({
          globalSceneOptions: {
            triggerHook: "onLeave",
          },
        });

        // get all slides
        var slides = document.querySelectorAll(".panel");

        // create scene for every slide
        for (var i = 0; i < slides.length; i++) {
          new ScrollMagic.Scene({
            triggerElement: slides[i],
          })
            .setPin(slides[i], { pushFollowers: false })
            .addIndicators() // add indicators (requires plugin)
            .addTo(controller);
        }
      });
    </script>

    <script>
      //Function To Display Popup
      function div_show() {
        document.getElementById("abc").style.display = "block";
      }
      //Function to Hide Popup
      function div_hide() {
        document.getElementById("abc").style.display = "none";
      }
    </script>

    <script src="js/index.js"></script>
    <script src="js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <style type="text/css">
      /* CSS Multiple Whatsapp Chat */
      .whatsapp-name {
        font-size: 16px;
        font-weight: 600;
        padding-bottom: 0;
        margin-bottom: 0;
        line-height: 0.5;
        color: white;
      }

      #whatsapp-chat {
        box-sizing: border-box !important;

        outline: none !important;
        position: fixed;
        width: 350px;
        border-radius: 10px;
        box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
        bottom: 90px;
        right: 30px;
        overflow: hidden;
        z-index: 99;
        animation-name: showchat;
        animation-duration: 1s;
        transform: scale(1);
      }
      a.blantershow-chat {
        /*   background: #009688; */
        background: #fff;
        color: #404040;
        position: fixed;
        display: flex;
        font-weight: 400;
        justify-content: space-between;
        z-index: 98;
        bottom: 25px;
        right: 30px;
        font-size: 15px;
        padding: 10px 20px;
        border-radius: 30px;
        box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
      }
      a.blantershow-chat svg {
        transform: scale(1.2);
        margin: 0 10px 0 0;
      }
      .header-chat {
        /*   background: linear-gradient(to right top, #6f96f3, #164ed2); */
        background: #009688;
        background: #095e54;
        color: #fff;
        padding: 20px;
      }
      .header-chat h3 {
        margin: 0 0 10px;
      }
      .header-chat p {
        font-size: 14px;
        line-height: 1.7;
        margin: 0;
      }
      .info-avatar {
        position: relative;
      }
      .info-avatar img {
        border-radius: 100%;
        width: 50px;
        float: left;
        margin: 0 10px 0 0;
      }

      a.informasi {
        padding: 20px;
        display: block;
        overflow: hidden;
        animation-name: showhide;
        animation-duration: 0.5s;
      }
      a.informasi:hover {
        background: #f1f1f1;
      }
      .info-chat span {
        display: block;
      }
      #get-label,
      span.chat-label {
        font-size: 12px;
        color: #888;
      }
      #get-nama,
      span.chat-nama {
        margin: 5px 0 0;
        font-size: 15px;
        font-weight: 700;
        color: #222;
      }
      #get-label,
      #get-nama {
        color: #fff;
      }
      span.my-number {
        display: none;
      }

      textarea#chat-input {
        border: none;
        font-family: "Arial", sans-serif;
        width: 100%;
        outline: none;
        resize: none;
        padding: 10px;
        font-size: 14px;
      }

      a#send-it {
        width: 30px;
        font-weight: 700;
        padding: 10px 10px 0;
        background: #eee;
        border-radius: 0px;

        svg {
          fill: #a6a6a6;
          height: 24px;
          width: 24px;
        }
      }

      .first-msg {
        background: transparent;
        padding: 30px;
        text-align: center;
        & span {
          background: #e2e2e2;
          color: #333;
          font-size: 14.2px;
          line-height: 1.7;
          border-radius: 10px;
          padding: 15px 20px;
          display: inline-block;
        }
      }

      .start-chat .blanter-msg {
        display: flex;
      }
      #get-number {
        display: none;
      }
      a.close-chat {
        position: absolute;
        top: 5px;
        right: 15px;
        color: #fff;
        font-size: 30px;
      }

      @keyframes ZpjSY {
        0% {
          background-color: rgb(182, 181, 186);
        }
        15% {
          background-color: rgb(17, 17, 17);
        }
        25% {
          background-color: rgb(182, 181, 186);
        }
      }

      @keyframes hPhMsj {
        15% {
          background-color: rgb(182, 181, 186);
        }
        25% {
          background-color: rgb(17, 17, 17);
        }
        35% {
          background-color: rgb(182, 181, 186);
        }
      }

      @keyframes iUMejp {
        25% {
          background-color: rgb(182, 181, 186);
        }
        35% {
          background-color: rgb(17, 17, 17);
        }
        45% {
          background-color: rgb(182, 181, 186);
        }
      }

      @keyframes showhide {
        from {
          transform: scale(0.5);
          opacity: 0;
        }
      }
      @keyframes showchat {
        from {
          transform: scale(0);
          opacity: 0;
        }
      }
      @media screen and (max-width: 480px) {
        #whatsapp-chat {
          width: auto;
          left: 5%;
          right: 5%;
          font-size: 80%;
        }
      }
      .hide {
        display: none;
        animation-name: showhide;
        animation-duration: 0.5s;
        transform: scale(1);
        opacity: 1;
      }
      .show {
        display: block;
        animation-name: showhide;
        animation-duration: 0.5s;
        transform: scale(1);
        opacity: 1;
      }

      .whatsapp-message-container {
        display: flex;
        z-index: 1;
      }

      .whatsapp-message {
        padding: 7px 14px 6px;
        background-color: rgb(255, 255, 255);
        border-radius: 0px 8px 8px;
        position: relative;
        transition: all 0.3s ease 0s;
        opacity: 0;
        transform-origin: center top 0px;
        z-index: 2;
        box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
        margin-top: 4px;
        margin-left: -54px;
        max-width: calc(100% - 66px);
      }

      .whatsapp-chat-body {
        padding: 20px 20px 20px 10px;
        background-color: rgb(230, 221, 212);
        position: relative;
        &::before {
          display: block;
          position: absolute;
          content: "";
          left: 0px;
          top: 0px;
          height: 100%;
          width: 100%;
          z-index: 0;
          opacity: 0.08;
          background-image: url("images/logo.png");
          // background-image: url(images/logo.png);
        }
      }

      .dAbFpq {
        display: flex;
        z-index: 1;
      }

      .eJJEeC {
        background-color: rgb(255, 255, 255);
        width: 52.5px;
        height: 32px;
        border-radius: 16px;
        display: flex;
        -moz-box-pack: center;
        justify-content: center;
        -moz-box-align: center;
        align-items: center;
        margin-left: 10px;
        opacity: 0;
        transition: all 0.1s ease 0s;
        z-index: 1;
        box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
      }

      .hFENyl {
        position: relative;
        display: flex;
      }

      .ixsrax {
        height: 5px;
        width: 5px;
        margin: 0px 2px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        animation-duration: 1.2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        top: 0px;
        background-color: rgb(158, 157, 162);
        animation-name: ZpjSY;
      }

      .dRvxoz {
        height: 5px;
        width: 5px;
        margin: 0px 2px;
        background-color: rgb(182, 181, 186);
        border-radius: 50%;
        display: inline-block;
        position: relative;
        animation-duration: 1.2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        top: 0px;
        animation-name: hPhMsj;
      }

      .kAZgZq {
        padding: 7px 14px 6px;
        background-color: rgb(255, 255, 255);
        border-radius: 0px 8px 8px;
        position: relative;
        transition: all 0.3s ease 0s;
        opacity: 0;
        transform-origin: center top 0px;
        z-index: 2;
        box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
        margin-top: 4px;
        margin-left: -54px;
        max-width: calc(100% - 66px);
        &::before {
          position: absolute;
          background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACQUExURUxpccPDw9ra2m9vbwAAAAAAADExMf///wAAABoaGk9PT7q6uqurqwsLCycnJz4+PtDQ0JycnIyMjPf3915eXvz8/E9PT/39/RMTE4CAgAAAAJqamv////////r6+u/v7yUlJeXl5f///5ycnOXl5XNzc/Hx8f///xUVFf///+zs7P///+bm5gAAAM7Ozv///2fVensAAAAvdFJOUwCow1cBCCnqAhNAnY0WIDW2f2/hSeo99g1lBYT87vDXG8/6d8oL4sgM5szrkgl660OiZwAAAHRJREFUKM/ty7cSggAABNFVUQFzwizmjPz/39k4YuFWtm55bw7eHR6ny63+alnswT3/rIDzUSC7CrAziPYCJCsB+gbVkgDtVIDh+DsE9OTBpCtAbSBAZSEQNgWIygJ0RgJMDWYNAdYbAeKtAHODlkHIv997AkLqIVOXVU84AAAAAElFTkSuQmCC");
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: contain;
          content: "";
          top: 0px;
          left: -12px;
          width: 12px;
          height: 19px;
        }
      }

      .bMIBDo {
        font-size: 13px;
        font-weight: 700;
        line-height: 18px;
        color: rgba(0, 0, 0, 0.4);
      }

      .iSpIQi {
        font-size: 14px;
        line-height: 19px;
        margin-top: 4px;
        color: rgb(17, 17, 17);
      }

      .iSpIQi {
        font-size: 14px;
        line-height: 19px;
        margin-top: 4px;
        color: rgb(17, 17, 17);
      }

      .cqCDVm {
        text-align: right;
        margin-top: 4px;
        font-size: 12px;
        line-height: 16px;
        color: rgba(17, 17, 17, 0.5);
        margin-right: -8px;
        margin-bottom: -4px;
      }
    </style>

    <div id="whatsapp-chat" class="hide">
      <div class="header-chat">
        <div class="head-home">
          <div class="info-avatar"></div>
          <p>
            <span class="whatsapp-name">OnlinesPey</span><br /><small
              class="whatsapp-name"
              >AEPS,BBPS,Recharge,Micro ATM,Payout</small
            >
          </p>
        </div>
        <div class="get-new hide">
          <div id="get-label"></div>
          <div id="get-nama"></div>
        </div>
      </div>
      <div class="home-chat"></div>
      <div class="start-chat">
        <div
          pattern="https:/>OnlinesPey.com/public/assets/img/whatsapp.png"
          class="WhatsappChat__Component-sc-1wqac52-0 whatsapp-chat-body"
        >
          <div class="WhatsappChat__MessageContainer-sc-1wqac52-1 dAbFpq">
            <div
              style="opacity: 0"
              class="WhatsappDots__Component-pks5bf-0 eJJEeC"
            >
              <div class="WhatsappDots__ComponentInner-pks5bf-1 hFENyl">
                <div
                  class="WhatsappDots__Dot-pks5bf-2 WhatsappDots__DotOne-pks5bf-3 ixsrax"
                ></div>
                <div
                  class="WhatsappDots__Dot-pks5bf-2 WhatsappDots__DotTwo-pks5bf-4 dRvxoz"
                ></div>
                <div
                  class="WhatsappDots__Dot-pks5bf-2 WhatsappDots__DotThree-pks5bf-5 kXBtNt"
                ></div>
              </div>
            </div>
            <div
              style="opacity: 1"
              class="WhatsappChat__Message-sc-1wqac52-4 kAZgZq"
            >
              <div class="WhatsappChat__Author-sc-1wqac52-3 bMIBDo">
                OnlinesPey
              </div>
              <div class="WhatsappChat__Text-sc-1wqac52-2 iSpIQi">
                Hi there 👋<br /><br />
                Welcome to>OnlinesPey <br />
                How can I help you?
              </div>
              <div class="WhatsappChat__Time-sc-1wqac52-5 cqCDVm">1:40</div>
            </div>
          </div>
        </div>

        <div class="blanter-msg">
          <textarea
            id="chat-input"
            placeholder="Write a response"
            maxlength="120"
            row="1"
          ></textarea>
          <a href="javascript:void;" id="send-it"
            ><svg viewBox="0 0 448 448">
              <path
                d="M.213 32L0 181.333 320 224 0 266.667.213 416 448 224z"
              ></path></svg
          ></a>
        </div>
      </div>
      <div id="get-number"></div>
      <a class="close-chat" href="javascript:void">×</a>
    </div>
    <a class="blantershow-chat" href="javascript:void" title="Show Chat"
      ><svg width="20" viewBox="0 0 24 24">
        <defs></defs>
        <path
          fill="#eceff1"
          d="M20.5 3.4A12.1 12.1 0 0012 0 12 12 0 001.7 17.8L0 24l6.3-1.7c2.8 1.5 5 1.4 5.8 1.5a12 12 0 008.4-20.3z"
        ></path>
        <path
          fill="#4caf50"
          d="M12 21.8c-3.1 0-5.2-1.6-5.4-1.6l-3.7 1 1-3.7-.3-.4A9.9 9.9 0 012.1 12a10 10 0 0117-7 9.9 9.9 0 01-7 16.9z"
        ></path>
        <path
          fill="#fafafa"
          d="M17.5 14.3c-.3 0-1.8-.8-2-.9-.7-.2-.5 0-1.7 1.3-.1.2-.3.2-.6.1s-1.3-.5-2.4-1.5a9 9 0 01-1.7-2c-.3-.6.4-.6 1-1.7l-.1-.5-1-2.2c-.2-.6-.4-.5-.6-.5-.6 0-1 0-1.4.3-1.6 1.8-1.2 3.6.2 5.6 2.7 3.5 4.2 4.2 6.8 5 .7.3 1.4.3 1.9.2.6 0 1.7-.7 2-1.4.3-.7.3-1.3.2-1.4-.1-.2-.3-.3-.6-.4z"
        ></path>
      </svg>
      Chat with Us</a
    >

    <script type="text/javascript">
      /* Whatsapp Chat Widget by www.bloggermix.com */
      $(document).on("click", "#send-it", function () {
        var a = document.getElementById("chat-input");
        if ("" != a.value) {
          var b = $("#get-number").text(),
            c = document.getElementById("chat-input").value,
            d = "https://web.whatsapp.com/send",
            e = b,
            f = "&text=" + c;
          if (
            /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
              navigator.userAgent
            )
          )
            var d = "whatsapp://send";
          var g = d + "?phone=+919097379339" + e + f;
          window.open(g, "_blank");
        }
      }),
        $(document).on("click", ".informasi", function () {
          (document.getElementById("get-number").innerHTML = $(this)
            .children(".my-number")
            .text()),
            $(".start-chat,.get-new").addClass("show").removeClass("hide"),
            $(".home-chat,.head-home").addClass("hide").removeClass("show"),
            (document.getElementById("get-nama").innerHTML = $(this)
              .children(".info-chat")
              .children(".chat-nama")
              .text()),
            (document.getElementById("get-label").innerHTML = $(this)
              .children(".info-chat")
              .children(".chat-label")
              .text());
        }),
        $(document).on("click", ".close-chat", function () {
          $("#whatsapp-chat").addClass("hide").removeClass("show");
        }),
        $(document).on("click", ".blantershow-chat", function () {
          $("#whatsapp-chat").addClass("show").removeClass("hide");
        });
    </script>
  </body>
</html>
